.header {
    padding: 36px 0;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    // Row gap & Column gap 🔽
    gap: calc(var(--base) / 2) var(--base)
}

.hide {
    display: none;
}
